*{
box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
}


p {
    margin-top: 4rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    line-height: 2rem;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.row{
    margin: 0;
}



                    /* Start of Nav Bar  */

.navbar {
    position: fixed;
    left: 1.5rem;
    top: 10rem;
    z-index: 100;
    
}

.nav-link,
.dropdown-toggle {
    color: black;
}

.btn:focus{
    box-shadow: none;
}

                    /* End of Nav Bar */

.parallax-background {
    background-image: url('Images/liana-mikah-qNhe2QXzLuo-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: bisque;
    height: 80vh;
}



                        /* ========== start of header ========== */

.video-bg{
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    /* background-color: black; */
    opacity: 0.5;
    z-index: 1;
}

.video-bg video {
    position: absolute;
    height: 10%;
    width: 100%;
    height: auto;
    z-index: 0;
}

.slogan{
    color: black;
    margin-bottom: 2rem;
    display: inline-block;
    width: 70%;
}

.contact-btn{
    background-color: #f1e5e5;
    color: black;
    display: inline-block;
}


.video-bg-content {
    position: absolute;
    z-index: 2;
    text-align: center;
   
}
                    /*  ========== end of header ========== */

               /* ===== Start of event-slider ===== */

.event-slider {
    width: 95%;
    margin: auto;
    z-index: 100;
    left: 0;
    right: 0;
    position: relative;
}


.event-slider-image img {
    height: 600px;
    border-radius: 10px;
}

               /* ===== End of event slider ===== */
                    
               /* ===== Start of content ====== */
.content{
    width: 70%; 
     margin: 0 auto;
    padding: 4rem 0;
}

.content-heading{
    text-align: center;
    font-size: larger;
    
}

.content-sub-heading{
    text-align: center;
    padding: 4rem 0;
    font-size: large;
}

.content p{
    margin: 0;
        /* margin-top: 4rem; */
        font-size: normal;
        letter-spacing: 0.2rem;
        font-weight: 100;
        word-spacing: normal;
        line-height: 1.8rem;
}

                    /* ===== Start of footer ===== */

.footer {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.social-media {
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;
}

.social-media img {
    text-align: center;
    margin: 0.5rem;
    height: 50px;
    width: 50px;
}

.footer p {
    margin-top: 2rem;
}

                    /* ===== end of footer =====*/

                    .logo{
                        width: 200px;
                        height: 100px;
                        position: fixed;
                        z-index: 10000;
                        top:2rem;
                        left: 0;
                    }